body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.appending {
  background-color: aqua;
  color: brown;
  font-weight: 800;
}
.appending2 {
  background-color: pink;
  color: brown;
  font-weight: 800;
}